.our-challenges {
    margin: 2em;

    h2 {
        margin: 1em;
        text-align: center;
    }

    .button {
        margin: auto;
    }
}

.filter-container {
    @include section;

    display: none;
    position: relative;
    gap: 1em;
    padding: 1em;
    border: 3px solid rgba(black, .2);

    h3 {
        margin: 0;
        grid-column: span 3;

        opacity: 0;
    }

    h4 {
        margin: .5em 0;
    }
}

.show {
    display: block;

    @media (min-width: $bp-large) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &.button {
       display: none;
    }
}

.button-close {
    position: absolute;
    top: .1em;
    right: .4em;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 2rem;

    cursor: pointer;
}

.filter-by-type, .filter-by-rating, .filter-by-tags, .filter-by-search {
    margin-top: 2em;
}

.filter-by-type, .filter-by-rating, .filter-by-tags {
    grid-column: span 1;
}

.filter-by-type {
    fieldset {
        padding: 0;
        margin: 0;
        border: none;
        display: flex;
    }

    input {
        cursor: pointer;
    }

    label {
        margin-left: .3em;
    }
}

.filter-by-rating {
    span {
        text-align: left;
        margin: 0 1em;
    }
}

.stars {
    @media (min-width: $bp-medium) {
        display: flex;
    }
}

.starsFrom, .starsTo {
    display: flex;
    list-style: none;
}

.starDeactive {
    content: url(/static/star-inactive.png);
    width: 20px;
    height: 20px;
    margin: 5px;

    &.active {
        content: url(/static/star-active.png);
    }

    &:hover {
        opacity: 50%;
        cursor: pointer;
    }
}

//Tag buttons
.btn {
    font-size: .8rem;
    margin: .2em;
    padding: .3em .5em;
    background-color: transparent;

    outline: 2px solid rgba(black, .2);
    border: none;
    border-radius: 20px;
    transition: border-radius .2s;
}

.btn.active {
    background-color: rgb(141, 141, 141);
    color: white;
    outline: none;
}

.btn:hover {
    border-radius: 5px;
    cursor: pointer;
}

.filter-by-search {
    grid-column: 2 / 3;

    input {
        font-size: .9rem;
        padding: .5em 1em;
        outline: none;
        border: 2px solid rgba(black, .2);
        border-radius: 5px;

    }
}

